body
  margin: 0
  padding: 0

.container
  max-width: 1200px
  margin: 0 auto

$white: #ffffff
$black: #222222
$grey: #cecece


@mixin bg_grey
  color: $black
  width: 100px
  height: 30px
  background-color: $grey
